<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Project Name</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <div class="alert alert-danger" *ngIf="showError">
            <a class="" data-dismiss="alert" href="#"></a>{{loginErrorMsg}}
        </div>
        <form role="form" id="quickForm" (ngSubmit)="onSubmit(heroForm)" #heroForm [formGroup]="loginForm"
        autocomplete="off">
          <div class="input-group mb-3 form-group">
            <input type="text" formControlName="Username" placeholder="Employee ID" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.Username.errors }" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-id-card"></span>
              </div>
            </div>
            <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                <div *ngIf="f.Username.errors.required">Employee ID is required</div>
            </div>
          </div>
          <div class="input-group mb-3 form-group">
            <input type="password" class="form-control" placeholder="Password" formControlName="Password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
  
            <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                <div *ngIf="f.Password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form> 
   
        <p class="mb-0">
          <a href="#" routerLink="/register" class="text-center">Do have an account ? Sign Up</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
  